body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: cursive;
    background-color: yellow;
}

i{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.counter{
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: green;
}

.container{
    margin: 20px;
    min-width: 200px;
    height: 100px;
    border: dotted green;
    position: relative;
    padding: 20px;
}

h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    font-size: 20px;
    white-space: nowrap;

}

@media (max-width:700px) {
    body {
        font-size: 14px;
        flex-direction: column;
        background-color: lightblue;
    }
    
}